<h1>Please Enter Info</h1>
<h5>
  your email and password will not be shown publicly on this site<br>
  email and password are strictly used for signing in and signing out<br>
  if you forget your email or password simply contact the admin<br>
</h5>


<%= render 'form' %>
