<div class="center">
<h1>A</h1>  <h5>another</h5><br>
<h1>H</h1>  <h5><a href="http://us.battle.net/hearthstone/en/">Hearthstone</a></h5><br>
<h1>C</h1>  <h5>community</h5><br>
<hr>
<br>
</div>
<h4>
  <li>This site can provide you with yet another way to find friends to duel</li>
  <li>It can also provide some semi-formal Swiss Tournament style events</li>
  <li>Like most sites, there is a sign up function and sigin/signout functionality</li>
  <li>If you are uncomfortable with giving out personal information, no need to fear, the admin DOES NOT send emails from this site</li>
  <li>Your Email and Password are only used to sign in and sign out, that's it</li>
  <li>At the top of every page you will find links to the card classes, links to HOME, ABOUT and signin/signout</li>
  <li>you can, however contact me by clicking on the link at the bottom of any page labeled "admin info"</li>
  
</h4>