<div class="center">
  <h1>
    admin info<br>
    <br>
    battletag: toliveanddie#1937<br>
    <br>
    skype: twoliveanddie<br>
    <br>
    email: toliveanddie@z33k.com<br>
    <br>
    
    or leave a comment in the thread of your choice:<br>
    <br>
    
  </h1>
</div>
  