<h1> what is gravatar?</h1>

<h4>gravatar is a site that lets you upload an image to be associated with your email</h4>
<h4>for example:</h4>
<ol>
  <li>sign up to gravatar with your email</li>
  <li>upload an image to gravatar</li>
  <li>once uploaded, make sure and choose the picture you want associated. (sometimes this is forgotten)
  <li>any site using gravatar to supply avatars as images will now recognize your email</li>
  <li>the image that you uploaded will now be visible in the gravatar image placeholder</li>
  <li>Obviously you must use the same email for gravatar and this site</li>
</ol>

<a href="http://en.gravatar.com/">http://en.gravatar.com/</a>
<p>visit the site for more info</p>