<footer class="footer">
  <small>
  </small>
  <nav>
    <ul>
      <li><%= link_to "admin info", contact_path %></li>
      <li><%= link_to "what is gravatar?", gravatar1_path %>
    </ul>
  </nav>
</footer>